* {
    font-family: 'Franklin Gothic Medium';
    box-sizing: border-box;
}
body{
    background-color: rgb(14, 14, 14);
}
.footer_container{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #379b3a;
    column-gap: 0px;
}
footer {
    margin-left: 15px;
  
}
a {
    text-decoration: none;
}
.footer_item2 ul li {
    display: block;   
}
.footer_item1 ul li {
    display: block;
  
}
.footer_item1 ul li a, .footer_item2 ul li a {
    color: #ddd;

}
.footer_item1 ul li, .footer_item2 ul li  {
    margin: 6px 20px;
    font-size: 17px ; 
  
}
input[name="Full name"]{
    width: 46.5%;
    height: 45px;
    border-radius: 10px;
    border-color: rgb(206, 206, 206);
    font-size: 17px;
}
p.get {
    color: #4caf50;
    font-size: 30px;
    text-align: center;
}
h1 {
    text-align: center;
    color: white;
}
input[type="email"]{
    width: 23%;
    height: 45px;
    border-radius: 10px;
    border-color: #666;
    margin-top: 10px;
    font-size: 17px;
   
}
input[placeholder="Subject"]{
    width: 23.5%;
    height: 45px;
    border-radius: 10px;
    border-color: #666;
    font-size: 17px;

}
textarea {
    margin-top: 10px;
    border-radius: 10px;
    font-size: 16px;
}
input[type="submit"] {
    border-radius: 10px;
    padding: 10px;
    height: 50px;
    width: 180px;
    color: white;
    background-color: #4caf50;
    border: 2px solid#ffffff;
    font-size: 18px;
    margin-top: 10px;
}
a:hover {
    text-decoration: underline;
}
@media screen and (max-width:500px){
    input[type="text"]{
        width: 100%;
    }
    input[type="email"]{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 4px;
    }
    textarea {
        width: 100%;
    }
}